pyTelegramBotAPI
rtoml
rich
redis
loguru
httpx
apscheduler
nltk
fastapi
pydantic
uvicorn
jieba
Pillow
pathlib
elara
numpy
git+https://github.com/aiastia-bak/llm-kira.git@main#egg=llm_kira
#llm_kira<=0.7.4
scikit-learn
beautifulsoup4
wget
fasttext-wheel
requests>=2.22.0
graiax-silkcoder
graia-broadcast
graia-ariadne
nextcord
aiohttp>=3.8.0
tzlocal
psutil
piexif
pytz
shortuuid
